<div class="section-single d-flex">
  <div class="mask container-fluid py-5 text-center">
    <div class="AccountFormWrapper">
      <section class="AccountFormContainer">
        <p class="AccountFormContainer__title h1 mb-5 bg-primary-subtle d-grid col-12 col-md-6 mx-auto">新規登録</p>

        <%= form_with model: @user, url: user_registration_path, class: "Form AccountForm" do |f| %>
          <div class="mb-3">
            <%= f.label :name, "ユーザー名", class: "form-label Form__label--required fw-bold fs-5" %>
            <%= f.text_field :name, class: "form-size d-grid col-12 col-md-6 mx-auto", placeholder: "ユーザー名を入力", autocomplete: "name" %>

            <%= render "devise/shared/error_messages", object: @user, key: "name" %>
          </div>

          <div class="mb-3">
            <%= f.label :email, "メールアドレス", class: "form-label Form__label--required fw-bold fs-5" %>
            <%= f.text_field :email, class: "form-size d-grid col-12 col-md-6 mx-auto", placeholder: "メールアドレスを入力", autocomplete: "email", type: "email" %>

            <%= render "devise/shared/error_messages", object: @user, key: "email" %>
          </div>

          <div class="mb-3">
            <%= f.label :password, "パスワード", class: "form-label Form__label--required fw-bold fs-5" %>
            <%= f.password_field :password, class: "form-size d-grid col-12 col-md-6 mx-auto", placeholder: "パスワードを入力" %>

            <%= render "devise/shared/error_messages", object: @user, key: "password" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, "確認用パスワード", class: "form-label Form__label--required fw-bold fs-5" %>
            <%= f.password_field :password_confirmation, class: "form-size d-grid col-12 col-md-6 mx-auto", placeholder: "確認用パスワードを入力" %>

            <%= render "devise/shared/error_messages", object: @user, key: "password_confirmation" %>
          </div>

          <%= f.submit "新しいアカウントを作成", class: "btn mb-3 btn-primary AccountForm__button AccountForm__button--primary d-grid col-12 col-md-6 mx-auto" %>
        <% end %>

        <%= render "devise/shared/links" %>
      </section>
    </div>
  </div>
</div>
