<div class="container shadow-lg p-3 mb-5 bg-primary-subtle rounded">
  <div class="container shadow-lg p-3 bg-primary-subtle rounded">
    <p class="display-3 mb-5 font_design mx-auto">MINI4WD SPEED KING</p>
    <p class="fw-bold">MINI4WD SPEED KINGでは、自分の作ったミニ四駆を登録！</p>
    <p class="mb-5 fw-bold">さらにアプリ登録店へのラップタイムの投稿がどこでも簡単にできるぞ！</p>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators d-none d-md-block">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= @defaults[1].default_image %>" class="img-size border border-primary border-4 border-opacity-75 rounded" alt="...">
          <div class="carousel-caption">
            <p class="h4 bg-secondary col-8 mx-auto d-none d-md-block">マシン情報</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= @defaults[4].default_image %>" class="img-size border border-primary border-4 border-opacity-75 rounded" alt="...">
          <div class="carousel-caption">
            <p class="h4 bg-secondary col-8 mx-auto d-none d-md-block">ラップタイム情報</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= @defaults[2].default_image %>" class="img-size border border-primary border-4 border-opacity-75 rounded" alt="...">
          <div class="carousel-caption">
            <p class="h4 bg-secondary col-8 mx-auto d-none d-md-block">店舗情報</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= @defaults[3].default_image %>" class="img-size border border-primary border-4 border-opacity-75 rounded" alt="...">
          <div class="carousel-caption">
            <p class="h4 bg-secondary col-8 mx-auto d-none d-md-block">コースレイアウト情報</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
      <%= link_to "プロフィールへ", new_user_session_path, class: 'post btn btn-primary d-grid col-6 mx-auto mb-2 mt-4' %>
    <% else %>
      <!-- ユーザーがログインしていなかった時の処理 -->
      <%= link_to "ログイン", new_user_session_path, class: 'post btn btn-primary d-grid col-md-6 mx-auto mb-2 mt-4' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post btn btn-primary d-grid col-md-6 mx-auto' %>
    <% end %>
  </div>
</div>
