<div class="container shadow-lg p-3 mb-5 bg-primary-subtle rounded">
  <div class="container shadow-lg p-3 bg-primary-subtle rounded">
    <div class="row bg-primary mb-4 border border-info rounded">
      <div class="d-md-flex flex-row">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, size: "75x75", class:'icon mt-2' %>
        <% else %>
          <%= image_tag (@defaults[0].default_image), size: "75x75", class:'icon mt-2' %>
        <% end %>
      </div>
      <p class="h2 text-start text-light"><%= @user.name %></p>
      <% if current_user && current_user.introduction.present? %>
        <p class="text-start text-light"><%= @user.introduction %></p>
      <% end %>
    </div>
    <div class="container col-12 col-md-11 mb-5">
      <div class="card mb-3 col">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card">
              <% if @machines.present? %>
                <% @machines.each do |machine| %>
                  <% if machine.machine_image.present? %>
                    <%= image_tag machine.machine_image, class: 'img-fluid' %>
                  <% else %>
                    <%= image_tag(@defaults[0].default_image, style: "height: 210px;") %>
                  <% end %>
                <% end %>
              <% else %>
                <%= image_tag(@defaults[0].default_image, style: "height: 210px;") %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body p-1 mt-2 mt-lg-5">
              <% @machines.each do |machine| %>
                <h3 class="card-title bg-body-secondary">マシン名</h3>
                <p class="card-text h5 fw-bold"><%= machine.machine_name%></p>
                <h3 class="card-title bg-body-secondary mt-lg-3">マシン重量</h3>
                <p class="card-text"><small class="text-body-secondary h5 fw-bold"><%= machine.machine_weight%></small></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-12 col-md-11">
      <div class="row row-col-12 row-col-md-2 g-4 d-flex justify-content-center">
        <div class="col-10 col-md">
          <div class="card">
            <% if @parts.present? %>
              <% @parts.each do |part| %>
                <%= image_tag(part.motor_image, class: 'img-fluid') %>
              <% end %>
            <% else %>
              <%= image_tag(@defaults[0].default_image, style: "height: 210px;") %>
            <% end %>
          </div>
          <div class="card-body mt-3">
            <p class="h5 fw-bold">【モーター】</p>
          </div>
        </div>
        <div class="col-10 col-md">
          <div class="card">
            <% if @parts.present? %>
              <% @parts.each do |part| %>
                <%= image_tag(part.chassi_image, class: 'img-fluid') %>
              <% end %>
            <% else %>
              <%= image_tag(@defaults[0].default_image, style: "height: 210px;") %>
            <% end %>
          </div>
          <div class="card-body mt-3">
            <p class="h5 fw-bold">【シャーシ】</p>
          </div>
        </div>
      </div>
    </div>
    <% if current_user && @user == current_user %>
      <% if current_user.machines.empty? %>
        <div class="row col">
          <div class="container shadow-lg p-3 bg-primary-subtle rounded mt-3 mb-3 machine_info">
            <p class="h3 fw-bold mt-3 mb-3">マシン情報 新規登録</p>
            <%= form_with(model: @machine) do |f| %>
              <div class="mb-3 col-12 text-start">
                <p class="h5 fw-bold">マシン画像</p>
                <%= f.file_field :machine_image, class: "form-size d-grid col-12" %>
              </div>
              <div class="mb-3 col-12 text-start">
                <%= f.label :machine_name, "マシン名", class: "form-label Form__label--required fw-bold fs-5" %>
                <%= f.text_field :machine_name, class: "form-size d-grid col-12", placeholder: "マシン名を入力" %>
              </div>
              <div class="mb-3 col-12 text-start">
                <%= f.label :machine_weight, "マシン重量", class: "form-label Form__label--required fw-bold fs-5" %>
                <%= f.text_field :machine_weight, class: "form-size d-grid col-12 mb-5", placeholder: "マシン重量を入力"%>
              </div>
              <%= f.hidden_field :user_id,value: @user.id %>
              <div>
                <%= f.submit "登録完了", class: "btn btn-primary mb-3" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user.parts.empty? %>
        <div class="row col">
          <div class="container shadow-lg p-3 bg-primary-subtle rounded mt-3 mb-3 part_info">
            <p class="h3 fw-bold mt-3 mb-3">パーツ情報 新規登録</p>
            <%= form_with(model: @part, multipart: true) do |f| %>
              <div class="mb-3 col-12 text-start">
                <%= f.label :motor_name, "モーター", class: "form-label fw-bold fs-5" %>
                <%= f.select :motor_name, options_for_select(@text_options), {}, class: "form-select form-size d-grid col-12" %>
              </div>
              <div class="mb-3 col-12 text-start">
                <%= f.label :chassi_name, "シャーシ", class: "form-label fw-bold fs-5" %>
                <%= f.select :chassi_name, options_for_select(@text_options2), {}, class: "form-select form-size d-grid col-12 mb-5" %>
              </div>
              <%= f.hidden_field :user_id,value: @user.id %>
              <div>
                <%= f.submit "登録完了", class: "btn btn-primary mb-3" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user.machines.any? %>
        <%= link_to "マシン情報 編集", edit_machine_path(current_user.machines.first.id), class: "col-8 col-md-5  btn btn-primary mx-3 mb-5 mt-5" %>
      <% end %>
      <% if current_user.parts.any? %>
        <%= link_to "パーツ情報 編集", edit_part_path(current_user.parts.first.id), class: "col-8 col-md-5  btn btn-primary mx-3 mb-5 mt-md-5" %>
      <% end %>
      <div class="row col-12 mx-auto mb-4 border rounded bg-body-secondary">
        <p class="display-5 fw-bold mt-3">登録店舗にラップタイムを投稿</p>
      </div>
      <div class="dropdown col-8 mx-auto">
        <button class="btn btn-secondary btn-lg dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          店舗選択
        </button>
        <ul class="dropdown-menu dropdown-menu-dark w-100">
          <li><%= link_to "株式会社タミヤ", shop_path(@shop_categories["株式会社タミヤ"]), class: "dropdown-item" %></li>
          <li><%= link_to "小鹿第一工場", shop_path(@shop_categories["小鹿第一工場"]), class: "dropdown-item" %></li>
          <li><%= link_to "池田工場", shop_path(@shop_categories["池田工場"]), class: "dropdown-item" %></li>
          <li><%= link_to "第二物流センター", shop_path(@shop_categories["第二物流センター"]), class: "dropdown-item" %></li>
        </ul>
      </div> 
    <% end %>
    <div class="container col-12 shadow-lg p-3 bg-primary-subtle rounded mt-5">
      <p class="h3 fw-bold mt-3 mb-3">ラップタイム一覧</p>
      <table class="table">
        <thead class="table-warning">
          <tr>
            <th scope="col">店舗名</th>
            <th scope="col">ラップタイム</th>
          </tr>
        </thead>
        <tbody>
          <% @lap_time_to_races.each do |lap| %>
            <tr>
              <td><%= link_to lap.shop.shop_name, shop_path(lap.shop) %></td>
              <td id="lapTimeCell"><%= lap.lap_time.present? ? lap.lap_time.strftime("%H:%M:%S") : "N/A" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 
  </div>
</div>
