<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>MINI4WD SPEED KING</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>

  <body>
    <% unless (controller_name == 'users' && action_name == 'index') || controller_path.starts_with?('devise') || (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'passwords' && (action_name == 'new' || action_name == 'edit')) %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="section-single d-flex">
      <div class="mask container-fluid py-5 text-center">
        <%= yield %>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJo38-EPUqWGJF5SSMsuGKo9bNAPEDFAA&callback=initMap" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <%= render 'layouts/footer' %>
  </body>
</html>
